<h1>hello</h1>

<%= form_tag('/users/about', {:method => 'get'}) { %>

  <%= text_field_tag(:name, params[:name]) %>
  <%= text_field_tag(:email, params[:email]) %>
  <%= text_field_tag(:password, params[:password]) %>


<%= submit_tag(users_about_path, :class => 'btn') %>


<% } %>
